.chart_left {
  margin: 24px;
  // background-color: pink;
  border-radius: 16px;
background: var(--primary-light, #F7F9FB);
  width: 720px;
}

.chart_right {
  margin: 24px;
  // background-color: pink;
  border-radius: 16px;
background: var(--primary-light, #F7F9FB);
  width: 720px;
}
