h3 {
  margin: 0px;
  text-align: left;
}
.temp {
  display: flex;
  flex-direction: row;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs .ant-avatar-image {
  margin-right: -18px;
}
.delivered-imgs .ant-avatar-image:last-child {
  margin: 0;
}

/* Decrease the row height */
.ant-table-tbody > tr {
  padding: 4px 8px; /* Adjust the padding to control the row height */
  background: #f7f9fb;
  height: 2px;
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  color: rgba(0, 0, 0, 0.4);
}

.ant-table .ant-table-container .ant-table-content table thead.ant-table-thead {
  background-color: #fff;
  border-right: none;
}

.ant-table-thead > tr > th {
  border: none;
}

.ant-table-tbody {
  padding: 0 !important;
}
.ant-table-tbody > tr > td {
  padding: 2px 16px 0px !important;
}

.responsive_table {
  overflow-x: auto;
}

.ant-table {
  min-width: 100%;
  white-space: nowrap;
}

.ant-table table {
  table-layout: auto;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
